<div class="p-5">
  <mat-card class="chat-window">
    <mat-card-header>
      <mat-card-title>ChatBotAI</mat-card-title>
    </mat-card-header>

    <mat-card-content class="chat-messages" *ngIf="{ messages: messages$ | async } as data">
      <div class="messages-area" #content>
        <ng-container *ngFor="let message of data?.messages" #messages>
          <div class="flex" [ngClass]="{'text-right': message?.sender === senderType.User}">
            <mat-card class="m-5" [ngClass]="message?.sender === senderType.User ? 'user-message' : 'chat-message'">
              <div class="p-5" [innerHtml]="message?.content"></div>
              <div *ngIf="message?.sender === 1" class='btn-like'>
                <button mat-icon-button (click)="vote(message?.messageId, gradeType.Like)">
                  <mat-icon *ngIf="message?.grade === gradeType.Like">thumb_up</mat-icon>
                  <mat-icon
                    *ngIf="message?.grade === null || message?.grade === gradeType.Dislike">thumb_up_off_alt</mat-icon>
                </button>
                <button mat-icon-button (click)="vote(message?.messageId, gradeType.Dislike)">
                  <mat-icon *ngIf="message?.grade === gradeType.Dislike">thumb_down</mat-icon>
                  <mat-icon
                    *ngIf="message?.grade === null || message?.grade === gradeType.Like">thumb_down_off_alt</mat-icon>
                </button>
              </div>
            </mat-card>
          </div>
        </ng-container>
      </div>
    </mat-card-content>

    <mat-card-actions class="m-5">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Type a message</mat-label>
        <textarea matInput [(ngModel)]="newMessage" [disabled]="!(disabled$ | async) || false"></textarea>
      </mat-form-field>
      <button mat-icon-button (click)="sendMessage()" [disabled]="!(disabled$ | async) || false">
        <mat-icon>send</mat-icon>
      </button>
      <button mat-icon-button (click)="cancelResponse()">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
